.name {
    font-size: 2.5em;
    font-family: "Agency Black", sans-serif;
}

.info {
    font-size: 1.2em;
}

.poster-background{
    background-color: black;
    border-radius: 10px;
    width: 232px;
}

.year-input {
    width: 4em;
}

.profession-select{
    height: 5em;
    margin: 1em;
}
.select-label {
    margin-top: 2em;
}