.padding-sm {
    padding: 1em;
}

.margin-sm{
    padding: 1em;
}

.full-size {
    width: 100%;
    height: 100%;
}



.padding-none{
    padding: 0;
}

.page-background{
    min-height: 100vh;
    width: 100vw;
    padding: 2em;

    background-image: url("../images/film.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: repeat-y;
}