.padding-sm {
    padding: 1em;
}

.padding-xs {
    padding: 5px;
}

.margin-xs {
    margin: 5px;
}


.padding-md {
    padding: 3em;
}

.padding-lg-side {
    padding-left:  9em;
    padding-right: 9em;
}

.margin-sm{
    padding: 1em;
}

.full-size {
    width: 100%;
    height: 100%;
}

.page-width{
    width: 100vw;
}

.margin-none{
    margin: 0;
}

.padding-none{
    padding: 0;
}

.page-background{
    min-height: 100vh;
    width: 100vw;
    padding: 2em;

    background-image: url("../images/film.jpg");
    background-repeat: repeat;
}


.year-input {
    width: 4em;
}
